* {
    margin: 0px; padding: 0px; 
}
body {
    font-family: 'Varela', sans-serif;
    line-height: 1.5;

}

 /*---------------HEADER AND NAV----------------*/   
.header {
    grid-area: header;
    color: black;
    margin: 0px;  
    border-bottom: 2px solid #569c5c;
    background-image: linear-gradient(to bottom right, #569c5c, white);

}

.header2 {
    grid-area: header;
    color: black;
    margin: 0px;  
    border-bottom: 2px solid #0077be;
    background-image:linear-gradient(to bottom right, #0077be, white);

    
}
.nav {
  
    height: 40px;
    border-bottom: 2px solid #569c5c;
    padding-top: .25em;
    padding-bottom: 1em;
    background-color: white;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: stretch;
}
.item {
 
    padding: .25em .75em
    
  
}
.items {
    display: flex;
    flex-flow: row nowrap;
    order: 2;
    justify-content: space-around;
    align-items: flex-end;
}


.item:hover {background-color: rgba(53, 156, 77, .2); color: black; border-radius: 50px;}
#logo2 {font-weight: bold; color: grey; }
.logo {margin: .25em; font-size: 28px; color: black; }
.logo:last-child {margin-right: none;}
.logo2 {
    order: 1;
}

#headertxt {
    font-size: 32px;
    margin: 0% 25% 0% 25%;    
    text-align: center;
    width: 50%;
 
}

.hero {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    width: 100%;
    height: 360px;
}
.subheader {font-size: .65em;}
.subheader2 {font-size: .65em; color: #4a4f4a; font-style: italic;}
/*---------------ARTICLE CONtENTS----------------*/
.articlehdr {
    font-size: 24px;
}
.articlesub {
    color: grey;

}
.articlesub1 {
    color: grey;
}
.articlecont {
    display: flex;
    align-content: flex-start;
    width: 50%;
    align-items: center;
    font-size: 16px;
}

.articlebgn {
    flex-grow: 2;
    flex-shrink: 1;
}

.articleinf {
    border-right: 2px solid grey;
    flex-grow: 1;
    padding-right: 20px;
    margin-right: 20px;
  
}
/*---------------ACTUAL ARTICLES----------------*/
.article1{
    grid-area: article1;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.article2{
    grid-area: article2;
    background-color: white;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
 
}

}
.article3 {
    grid-area: article3;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.article4 {
    grid-area: article4;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*---------------POST----------------*/

.post {
    grid-area: post;
    margin-left: 25%;
    width: 50%;
    margin-top: 4%;
    
}
.postsubheader {
    font-size: 20px;
    color: grey;
    margin-top: 6px;
    margin-bottom: 0px;
}

.postendsub {color: grey; font-style: italic;}
.emphasis {font-style:italic;}

/*---------------LINKS----------------*/

.hover:hover {
    background-color: rgba(53, 156, 77, .2); color: black; border-radius: 50px;
}

}
.hover {
    padding: 6px; padding-top: 3px;
}


a {text-decoration: none; color: black;}



/*---------------FORMATTING----------------*/
main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 400px 200px 200px 200px 200px ;
    grid-gap: 0px;
    margin: 0 auto;
}
#content {
    grid-template-areas: 
        "header"
        "article1"
        "article2"
        "article3"
        "article4"

}

#blogcontent {
    grid-template-areas: 
        "header header"
        "post post"
        "post post"
        "post post"
        "post post"
        "post post"
}
/*---------------RESPONSIVE DESIGN-NAV---------------*/
@media only screen and (max-width: 700px) {
    .nav {
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 150px;
        align-items: center;
    }
    .items {
        flex-flow: column nowrap;
        text-align: center;
    }
    main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 540px 250px 250px 250px 250px ;
    grid-gap: 0px;
    margin: 0 auto;
    
}

#content {
    grid-template-areas: 
        "header"
        "article1"
        "article2"
        "article3"
        "article4"

}
.hero {height: 390px;}
}
   
/*---------------RESPONSIVE DESIGN-HERO---------------*/
   
}
@media only screen and (max-width: 570px){
     main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 580px 250px 250px 250px 250px  ;
    grid-gap: 0px;
    margin: 0 auto;
    
}
    .hero {height: 430px;}
    .articlecont {width: 75%;}
}
@media only screen and (max-width: 500px){
     main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 720px 250px 250px 250px 250px  ;
    grid-gap: 0px;
    margin: 0 auto;
    
}
    .hero {height: 570px;}
}
@media only screen and (max-width: 420px){
     main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 820px 250px 250px 250px 250px  ;
    grid-gap: 0px;
    margin: 0 auto;
    
}
    .hero {height: 670px;}
}
@media only screen and (max-width: 340px){
     main {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 900px 250px 250px 250px 250px  ;
    grid-gap: 0px;
    margin: 0 auto;
    
}
    .hero {height: 750px;}
}
